In [5]:
#!source ~/miniconda3/bin/activate
#!conda activate myenv

CondaError: Run 'conda init' before 'conda activate'

In [10]:
import numpy as np 
import pandas as pd

import os

In [7]:
os.makedirs('data')

In [8]:
!kaggle datasets list -s 'House Prices'

ref                                                                 title                                                 size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------------------  --------------------------------------------------  ------  -------------------  -------------  ---------  ---------------
vikrishnan/boston-house-prices                                      Boston House Prices                                   13KB  2017-08-03 17:06:12         138047        670  0.8235294
syuzai/perth-house-prices                                           Perth House Prices                                     2MB  2021-01-31 05:55:58           4615         44  0.9411765
fedesoriano/the-boston-houseprice-data                              Boston House Prices-Advanced Regression Techniques    12KB  2021-06-01 10:39:10          22295        215  1.0
lespin/house-prices-dataset                                         House Prices dataset                                 199KB  2018-02-18 20:39:04          11544         85  0.5882353
jeremylarcher/american-house-prices-and-demographics-of-top-cities  American House Prices                                666KB  2023-12-09 16:28:27           2478         35  0.9411765
manjitbaishya001/house-prices-2023                                  Pakistan House Prices - 2023                           1MB  2023-12-15 18:57:24           1493         32  1.0
joebeachcapital/house-prices                                        House Prices                                         653KB  2023-08-21 01:27:49           1962         29  1.0
howisusmanali/house-prices-2023-dataset                             House Prices 2023 Dataset                             12MB  2023-07-18 03:07:38           2037         42  1.0
mihirhalai/sydney-house-prices                                      Sydney House Prices                                    2MB  2020-07-10 04:59:55           3273         35  0.5882353
anmolkumar/house-price-prediction-challenge                         House Price Prediction Challenge                       2MB  2020-10-01 19:37:13          19911        220  1.0
carlmcbrideellis/house-prices-advanced-regression-solution-file     House Prices: Advanced Regression 'solution' file      6KB  2020-09-11 15:40:17           1319         45  1.0
rsizem2/house-prices-ames-cleaned-dataset                           House Prices - Processed Data                        377KB  2022-09-25 00:48:08           1187         31  0.8235294
pcbreviglieri/house-prices                                          House Prices                                        1021KB  2020-04-29 14:45:15            604         21  0.9411765
camnugent/california-housing-prices                                 California Housing Prices                            400KB  2017-11-24 03:14:59         160029       1196  0.85294116
jeremylarcher/canadian-house-prices-for-top-cities                  Canadian house prices for top cities                 448KB  2023-10-29 11:56:46           1877         37  0.9411765
vbmokin/house-prices-feature-engineering                            House Prices: Feature Engineering                      8KB  2020-08-13 19:35:17            280         22  0.9411765
dawidcegielski/house-prices-in-poland                               House Prices in Poland                               704KB  2021-03-04 19:20:34           1672         24  0.88235295
tommasoramella/italy-house-prices                                   Italy house prices                                    83MB  2023-07-30 21:30:45            813         20  1.0
gokcegok/house-rent-price-prediction-dataset-for-buca               House Rent Prices of Buca                            163KB  2022-11-20 19:18:33            457         18  1.0
rangalamahesh/house-prices-dataset                                  House Prices Dataset                                 184KB  2024-01-28 19:14:56           1153         27  0.8235294

In [4]:
!kaggle competitions download -c house-prices-advanced-regression-techniques

Downloading house-prices-advanced-regression-techniques.zip to /home/wouter/Desktop/Kaggle/House Prices
100%|█████████████████████████████████████████| 199k/199k [00:00<00:00, 589kB/s]
100%|█████████████████████████████████████████| 199k/199k [00:00<00:00, 589kB/s]

In [7]:
!unzip house-prices-advanced-regression-techniques.zip -d data

Archive:  house-prices-advanced-regression-techniques.zip
  inflating: data/data_description.txt
  inflating: data/sample_submission.csv
  inflating: data/test.csv
  inflating: data/train.csv

In [8]:
!rm house-prices-advanced-regression-techniques.zip

In [11]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#aaa