In [1]:
import numpy as np 
import pandas as pd

import os

In [4]:
os.makedirs('data')

In [5]:
!kaggle datasets list -s 'titanic - machine learning from disaster'

ref                                                           title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
shuofxz/titanic-machine-learning-from-disaster                Titanic: Machine Learning from Disaster            33KB  2017-10-15 10:05:34           8841        109  0.29411766
rashigoel/titanic-machine-learning-from-disaster              Titanic: Machine Learning from Disaster            34KB  2018-02-10 17:53:45           1544         19  0.29411766
harunshimanto/titanic-solution-a-beginners-guide              Titanic Solution: A Beginner's Guide               35KB  2018-03-11 14:23:57           1308         15  0.5294118
rahulsah06/titanic                                            Titanic                                            34KB  2019-09-16 14:43:23           8608        100  0.6764706
zain280/titanic-data-set                                      Titanic Data set                                   22KB  2024-02-28 14:04:13           2026         48  1.0
soylevbeytullah/titanic-datasets                              Titanic Datasets                                   34KB  2024-06-14 07:45:42             59          6  0.7058824
dwiuzila/titanic-machine-learning-from-disaster               Titanic - Machine Learning from Disaster           33KB  2021-04-27 03:08:44            351          3  0.3529412
ashishpatel26/titanicdisaster                                 Titanic: Machine Learning from Disaster            33KB  2018-03-21 10:44:07            347          1  0.29411766
whenamancodes/titanic-dataset-machine-learning-from-disaster  Titanic Dataset - Machine Learning from Disaster   34KB  2022-09-20 03:15:12            264          2  0.8235294
muhammadyasirsaleem/project                                   Titanic - Machine Learning from Disaster            9KB  2022-09-18 08:40:52             24          2  0.3529412
jankondracki/titanic-combined-dataset-with-relatiships        Titanic Dataset with Relationships                 35KB  2023-02-07 10:40:21            257         10  1.0
mpkanalytics/titanic-machine-learning-from-disaster           Titanic - Machine Learning from Disaster           33KB  2022-02-03 00:10:59             14          1  0.29411766
wesleyhowe/titanic-labelled-test-set                          Titanic - Labelled Test Set                        11KB  2023-05-30 13:52:23            130          4  0.9411765
damlapeker/titanicsurviveddatasets                            TitanicSurvivedDatasets                            22KB  2024-03-05 19:57:11            401         27  0.64705884
dreygaen/titanic-leaderboard                                  Titanic Leaderboard March 2023                    302KB  2023-03-31 22:11:54             49          3  1.0
krithikk/titanic-machine-learning-from-disaster               Titanic - Machine Learning from Disaster            2KB  2021-02-20 07:56:56             30          1  0.23529412
bayramyilmaztr/titanic-machine-learning-from-disaster         Titanic - Machine Learning from Disaster           22KB  2022-03-20 17:09:49             24          1  0.23529412
armourkai/titanic-machine-learning-from-disaster              Titanic - Machine Learning from Disaster           34KB  2021-09-30 03:41:09             12          1  0.23529412
kazihasib00/titanic-machine-learning-from-disaster            Titanic - Machine Learning from Disaster           34KB  2021-12-23 14:29:45             10          1  0.23529412
eyeseayou/titanic-machine-learning-from-disaster              Titanic - Machine Learning from Disaster           34KB  2022-04-25 02:36:06             11          1  0.23529412

In [11]:
!kaggle competitions download -c Titanic

Downloading Titanic.zip to /home/wouter/Desktop/Kaggle/Titanic
  0%|                                               | 0.00/34.1k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 34.1k/34.1k [00:00<00:00, 2.61MB/s]

In [14]:
!unzip Titanic.zip -d data

Archive:  Titanic.zip
  inflating: data/gender_submission.csv
  inflating: data/test.csv
  inflating: data/train.csv

In [21]:
!rm Titanic.zip

In [2]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
women = train_data.loc[train_data['Sex'] == 'female']["Survived"]
rate_women = sum(women)/len(women)
rate_women

0.7420382165605095

In [6]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X,y)
predicitons = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predicitons})
output.to_csv('submission.csv', index=False)

In [8]:
!kaggle competitions submit -c Titanic -f submission.csv -m wouter_simple_submission

100%|██████████████████████████████████████| 2.77k/2.77k [00:00<00:00, 7.12kB/s]
Successfully submitted to Titanic - Machine Learning from Disaster

In [10]:
!kaggle competitions submissions -c Titanic

fileName        date                 description               status    publicScore  privateScore
--------------  -------------------  ------------------------  --------  -----------  ------------
submission.csv  2024-06-26 19:51:24  wouter_simple_submission  complete  0.77511